.swiper-box{
    position: relative;
    width: 100%;
    overflow: hidden;

    .swiper-item{
        .img{
            margin-bottom: 0px;
            @media (max-width: 991.98px) { 
                margin-bottom: 12px;
            }
        }
    }
    .swiper-products02-prev,.swiper-products02-next{
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: red;
        z-index: 50;
        width: 48px;
        height: 48px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: none;
        border: 0;
        .swiper-control-prev-icon{
            font-size: 48px;
            color: #000000;
            z-index: 55;
        }
        @media (max-width: 991.98px) { 
            top: 35%;
        }
    }

    .swiper-products02-prev{
        left: 2%;
        @media (max-width: 991.98px) { 
            left: 5%;
        }
    }
    .swiper-products02-next{
        left: 98%;
        @media (max-width: 991.98px) { 
            left: 95%;
        }
    }
}